<style type="text/css">
    #cpt_header-holder,
    .cpt-footerWrap,
    footer.container,
    #cpt_header {
        display: none;
    }
</style>
<div class="home">
    <div ng-include="include.top"></div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="" ng-click="goToRoles()">Book Fairs Role/Task Definition</a>
        </div>
        <div class="col-md-12">
            <a class="btn btn-primary" href="" ng-click="goToMessages()">Book Fairs Volunteer Message</a>
        </div>
    </div>
</div>