<style type="text/css">
.Footer
{
visibility: hidden;
}
@media screen and (max-width: 480px){
.mobile_all_frame{
position:absolute;
}	
.mobile_forgot_top{
	width:260px;!important
}
}
</style>
 <div class="mobile_all_frame">   
      <div id="login_frame" >
      <div id="login_area" >
         <div id="login_area-content" >
            <!-- SUCESS  Password SENT-->
            <div id="login_area-sucess" style="">
               <h3>Forgot your account information?</h3>
               <div class="pr_account">
                  Account information sent
               </div>
               
               <div class="pr_info">
                  Your information has been sent to the e-mail address
               </div>
               <div class="pr_short">
          		<b>{{shortemail}}</b>
          		</div>
          		<div class="pr_info">
                  (Email shortened for your privacy)
               </div>
               <div class="pr_further mobile_forgot_top">
                  For further assistance, please contact <a target="_parent" href="https://scholastic-bookfairs.custhelp.com/">customer service</a> or call 1-800-SCHOLASTIC
                  <br>(1-800-724-6527) Mon - Fri 7 a.m. - 12 a.m. ET and Sat 9 a.m. - 6 p.m. ET.                  
               </div>
               <div class="forgot_leftform-row">
                  <a id="forgotAccountCancel2" class="loginButton" href="" ng-click="redirectToLoginPage()">Return</a>
                  <br class="clearfloat">
               </div>
            </div>
            <!-- End Password SENT SUCCESS -->
         </div>
         </div>
      </div>
      </div><p class="forget_footer">&nbsp;<p>
