<!DOCTYPE html>
<html lang="en">
<head> <!-- BFC flow -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Twitter_image</title>
<meta charset="utf-8">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@`">
<meta name="twitter:title" content="Volunteers make a difference.">
<meta name="twitter:description" content="We need your help to pull off our best Book Fair ever! Even an hour of your time would help. Sign up now!">
<meta name="twitter:url" content="http://www.scholastic.com/vms/twitter_signup.html">
<meta name="twitter:image" content="http://www.scholastic.com/vms/BFC_Badge_Facebook.jpg">
</head>
<body>
<script type="text/javascript">
window.location = "https://volunteer.scholastic.com/#/experience/login/" + location.toString().split('?')[1].split('&')[0].split('=')[1];
</script>
</body>
</html>
