<!DOCTYPE html>
<html lang="en">
<head> <!-- Volunteer flow -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Twitter_image</title>
<meta charset="utf-8">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@`">
<meta name="twitter:title" content="Want to be a Book Fair Volunteer?">
<meta name="twitter:description" content='Find your school, click "View Fair Homepage," and select the volunteer button.'>
<meta name="twitter:url" content="http://www.scholastic.com/vms/twitter_image.html">
<meta name="twitter:image" content="http://www.scholastic.com/vms/bfc_badge_fb.jpeg">
</head>
<body>
<script type="text/javascript">
window.location = "https://www.scholastic.com/fair";
</script>
</body>
</html>
