<style type="text/css">
.Footer{display:none;}
</style>
<div ng-if="getSignUpResponse">
<div class="volunteerExperiance">
	<header class="col-md-12 col-xs-12" >
		<div ng-if="volExpData.spsUserReturn.volId!=null && (volExpData.spsUserReturn.email!=null &&
    	volExpData.spsUserReturn.email!='')" class="center-block col-md-7 col-sm-7 col-xs-8 dashBoard">
				<a href="javascript:void(0);" ng-click="viewDashboard(volExpData.spsUserReturn.volId,volExpData.maskedSignUpStr)"  class="pull-right">Volunteer Dashboard
					<span class="glyphicon glyphicon-triangle-right"></span>
				</a>
		</div>
		<section class="vol-Dashboard center-block col-md-7 col-sm-7 col-xs-12">
				<h1>Volunteer @</h1>
				<h2 ng-if="volExpData.fairStartEndRange!=null || volExpData.eventName!=null">{{volExpData.eventName}} <small>{{volExpData.fairStartDate | date : 'M/d':'UTC'}}&mdash;{{volExpData.fairEndDate | date : 'M/d/yy':'UTC'}}</small>
				</h2>
				<span>{{volExpData.schoolName}}</span>
				<div class="desc_container" ng-if="volExpData.volExpDisplayStatus==='Y'">
					<span ng-bind="volExpData.description"></span>
				</div>
				<p ng-if="volExpData.volExpDisplayStatus!='Y' || showWarningForInvalidData==='Y'">
				<span ng-include="include.noSignupSheetMsg">
				</span></p>
		</section>
		<div class="center-block col-md-7 col-sm-7">
		<section ng-show="volExpData.spsUserReturn.email===null || volExpData.spsUserReturn.email===''" role="alert" class="row show_error">
			<span class="glyphicon glyphicon-warning-sign col-md-1 col-xs-2" aria-hidden="true"></span>
			<span class="col-md-11 col-xs-10">To proceed, you must <a href="javascript:void(0);" ng-click="redirectTologin()">log-in</a> with a valid email address.  Screen names and passwords from Scholastic Kids registration are not valid.</span>
		</section>
		</div>
	</header>

	<section class="col-md-12 col-xs-12 helpBlock" ng-show="volExpData.volExpDisplayStatus==='Y' && (volExpData.spsUserReturn.email!=null &&
    	volExpData.spsUserReturn.email!='')">
		<div class="center-block col-md-7 col-sm-9">
			<h2>
				How you can help:
			</h2>
			 <section ng-show="showWarning5xx" role="alert" class="row alert alert-danger">
        <span ng-show="showWarning5xx"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Unable to process your request at this time. If this problem persists, please contact Customer Service. </span>
    </section>
    		<div class="panel panel-default">
			<ul class="list-group">
		 	  <li class="list-group-item" ng-repeat="activityDetails in volExpData.orderedsignupSheetActivities" >
			  <div class="panel-heading">{{activityDetails.header}}
			  <span class="pull-right glyphicon glyphicon-menu-down" id="openPanel"></span>
			  <span class="pull-right glyphicon glyphicon-menu-up hide" id="closePanel"></span>
			  </div>
			  <div class="panel-body hide" id="panelBody" show-tasks>
			    <ul class="list-group">
				  <li class="list-group-item" ng-repeat="activity in activityDetails.signupSheetActivities" >
				  	    <h1>{{activity.eventName}}<span ng-if="activity.anyTime===true">Any Time</span>
				  	    <span ng-if="activity.anyTime==false">{{activity.startTime}} - {{activity.endTime}}</span></h1>
						<p id="select">
							<button class="btn btn-primary" id="showSelected" ng-hide="(activity.volunteerName!=null || activity.status==='I')"
							ng-click="addActivity(activity)">select
							</button>
							<a href="javascript:void(0);" ng-show="(activity.volunteerName==null && activity.description!==null &&
							activity.description!=='')" id="showDetails">Show Details</a>
						</p>
						<div class="hide" select-bar>
							<p>
								<button class="btn btn-success">selected <span class="glyphicon glyphicon-ok"></span>
								</button>
								<a href="javascript:void(0);" id="hideSelected" ng-click="removeActivity(activity)">Cancel</a>
							</p>
							<div class="input-group">
								<label class="control-label">
									Comments for the organizer:
								</label>
								<textarea class="form-control message" ng-model="activity.comments" name="message" ng-maxlength="500"  maxlength="500">
								</textarea>
							  	<div class="remaining">{{500-activity.comments.length}} of 500 characters remaining.</div>
							</div>
						</div>
						<div class="details" ng-show="activity.volunteerName!=null">
							<span>Volunteer: {{activity.volunteerName}}</span>
							<a href="javascript:void(0);"
							ng-hide="(volExpData.spsUserReturn.volId!=activity.volunteerId || activity.status==='I')" id="hideDetails">Cancel</a>
						</div>
						<div class="hide commitment" show-commitments>
							<h1>Are you sure?</h1>
							<!-- <p>If you are unable to volunteer at this time click Cancel Commitment.</p> -->
							<button class="btn btn-primary" id="cancelCommit" ng-click="cancelSignUpActivityForVolunteer(activity,volExpData)">Cancel <br /> Commitment
							</button>
							<a class="btn btn-link" id="keepCommit">Keep Commitment
							</a>
						</div>
						<!--<div class="hide commitConfirmation" id="ConfirmPopup">
								<p>You have successfully cancelled your participating in this event.</p>
								<button class="btn btn-primary">Ok</button>
						</div>-->
						<div class="details actDesc hide" show-details>
							<p>
								<button class="btn btn-primary" ng-click="addActivity(activity)" ng-hide="(activity.volunteerName!=null || activity.status==='I')" id="showSelected">select
								</button>
								<a href="javascript:void(0);"  id="hideDetails">hide Details</a>
							</p>
							<p>{{activity.description}}</p>

							<!--  <p>{{activity.whyText}}</p> -->

							<!--<p><ng-include src="'/vmsassets/'+activity.howFile"></ng-include></p>-->

						</div>
				  </li>
				  <!--  <li class="list-group-item">
				  	    <h1>Cashier<span> 9:00 AM - 10:00 AM</span></h1>
						<p>
							<button class="btn btn-primary">select</button>
							<a href="#">Show Details</a>
						</p>

				  </li> -->
				</ul>
			  </div>
			  </li></ul>
			</div>

		</div>
	</section>
	<section class="col-md-12 col-xs-12 selectedTask submit-bar-mobile"  id="selectedCount" ng-show="taskList.length>0">
		<div class="center-block col-md-6">
			<div class="pull-left col-md-6 col-xs-6">
			<h2 ng-if="taskList.length==1">{{taskList.length}} Task Selected</h2>
			<h2 ng-if="taskList.length>1">{{taskList.length}} Tasks Selected</h2>
			</div>
			<div class="col-md-6">
			<button class="pull-right btn btn-primary" ng-click="signUpActivitiesForVolunteer()">Submit</button>
			</div>
		</div>
	</section>
	<footer class="col-md-12 col-xs-12 volExperienceFoot">
		<div ng-if="volExpData.spsUserReturn.volId!=null && volExpData.organizerInfo.firstName!=null" class="organisedBy center-block col-md-6 col-sm-12 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-2">
			<h2>Organized<br />by</h2>
			</div>
			<div class="address col-md-6 col-sm-6 col-xs-12">
				<span class="email" ng-show="volExpData.organizerInfo.email !== null"><a ng-href="mailto:{{volExpData.organizerInfo.email}}">{{volExpData.organizerInfo.firstName}} {{volExpData.organizerInfo.lastName}}</a></span>
				<span class="email" ng-show="volExpData.organizerInfo.email === null">{{volExpData.organizerInfo.firstName}} {{volExpData.organizerInfo.lastName}}</span>
				<span ng-show="volExpData.organizerInfo.phone !== null ">{{volExpData.organizerInfo.phone | phoneFormat}}</span>
			</div>
		</div>
    </footer>
</div>
</div>
