#SPS-MyAccount.passwordReset .frame-wrapper { height: 500px; width: 590px; margin-left: 260px}
#SPS-MyAccount.passwordReset .frame-content-wrapper .content { height: 380px; width: 530px; }
#SPS-MyAccount.passwordReset .frame-content-wrapper { height: 410px; width: 555px; }
.content .spsContent { padding: 10px; width: 515px; }
.content .spsContent h3 { background-image: none; border: 0; color: #AA0000; font-size: 16px; font-weight: bold; margin: 0 0 10px; padding: 0; }
.content .spsContent h4 { color: #E38E13; display: block; font-size: 14px; font-weight: bold; margin: 0 0 15px; padding: 0; }
.content .spsContent label { color: #000000; display: block; float: left; font-weight: bold; padding-right: 10px; text-align: center; width: 154px; }
.content .spsContent .contactCustomerService { font-size: 11px; margin: 25px auto; padding-bottom: 0; text-align: center; width: 300px; }
.content .spsContent .formButton { background-color: transparent; border: none; color: #FFFFFF; display: block; float: right; margin: 10px 0; padding: 0; }
.forgotAccountCancel {display:inline-block; height:16px; font-size:12px; line-height:16px; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; padding:0 10px; color:#fff; text-decoration:none; float:left; background:#9a9a9a; margin-right:18px;}
.loginCloseBtn { background: url("../images/login_close.gif") no-repeat scroll 0 0 transparent; border: 0 none; display: block; float: right; height: 16px; text-align: right; width: 16px; }
.loginCloseBtn span {  display: none; }

.content .error { font-size: 12px; margin-top: 0; text-align: left; width: 100%; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.spsLeftContent, .spsRightContent  { float: left; }
.spsLeftContent { border-right: 1px solid #990000; padding-right: 20px; width: 324px; }
.spsRightContent { padding-left: 30px; width: 130px; }

.content .spsField { margin-top: 10px; }
.content .spsFields .spsField { margin-bottom: 10px; }
.content .spsFields .spsField input { border: 1px solid #000000; }

.content .spsDetails p { margin: 0; padding: 10px 0; }

.content .spsConfirmTxt { width: 475px; }
.content .spsConfirmTxt p { color: #000000; font-size: 19px; font-weight: bold; margin: 40px 0 10px; padding: 0; text-align: center; width: 475px;}
.content .spsConfirmTxt .formButton { margin-top: 30px; }
.content .spsConfirmTxt .formButton span { font-size: 12px; line-height: 10px; padding-left: 12px; }
.confirmWrap
{
	padding:10px 0;
}

/* CSS for close button */
/*.sps-modal-overlay {display: block; opacity: 0.5; filter: alpha(opacity = 50); height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 1001; }*/

 a.SPS-modalCloseImg {
    background: url("//myaccount.scholastic.com/com.scholastic.myaccount.MyAccount/images/frame_close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block !important;
    width: 60px; height: 21px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10000;
}
/*#SPS-ModalOverlay{ background-color: #000000; }
.sps-overlay-container{display: block;}*/
