<h4>Confirm Delete</h4>
<p>Are you sure you want to delete {{delCount}}
<ng-pluralize count="delCount" when="{'0': 'contact', 'one': 'contact', 'other': 'contacts'}"></ng-pluralize>
from your address book? Please note: Chairpeople and volunteers cannot be deleted.
</p>
<footer>
<button class="btn btn-custom" ng-click="closePopUp()">Cancel</button>
<button class="btn btn-primary" ng-show="delCount>0 && eleSelected" ng-click="deleteSelected()">Delete</button>
<button class="btn btn-primary" ng-show="delCount>0 && showDeleteAlla" ng-click="deleteAllContacts()">Delete</button>
</footer>
